name: Build

on:
  push:
    branches:
      - main
      - 4.x
  pull_request:
    branches:
      - main
      - 4.x

jobs:
  build_java8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install JDK 1.8
      uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
      with:
        java-version: 'openjdk8'
    - name: Build with Maven
      run: mvn -B clean install

  build_java11:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install JDK 11
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: 'openjdk11'
      - name: Build with Maven
        run: mvn -B clean install



